{% extends "base.html" %}
{% block main %}    
    <center><h1>{{ title }}</h1></center><BR CLEAR="all">
    <h3>Voulez vous supprimer {{ group.bandName }} ?</h3>

    <!-- 
        Formulaire fonctionnant avec la methode POST et dont le traitement est faites par la fonction
        save_deletegroup du fichier views.py
    -->
    <form method="POST" action="{{ url_for('save_deletegroup') }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <input class="btn btn-danger" type="submit" value="Oui !"> <!-- Validation de la suppression d'un groupe -->
            <a href="/group"> 
                <input class="btn btn-primary" type="button" value="Non !"> <!-- Refu de la suppression d'un groupe -->
            </a>
        </div>
        
    </form>

    
{% endblock %}
