{% extends "base.html" %}
{% block main %}    
   <center> <h1>{{ title }}</h1></center><BR CLEAR="all">
    <h3>{{ group.bandName }}</h3>

    <!-- 
        Formulaire fonctionnant avec la methode POST et dont le traitement est faites par la fonction
        save_modifgroup du fichier views.py
    -->
    <form method="POST" action="{{ url_for('save_modifgroup') }}">
        {{ form.hidden_tag() }}
        <div class=
            {% if form.name.errors %}
            "form-group has-error"
            {% else %}
            "form-group"
            {% endif %}
        >
        <!-- Champ de texte du nom du groupe -->
        {{ form.name.label }} {{ form.name(size=50, class_="form-control") }}

        <!-- Menu deroulant permettant de selectionner l'artiste fondateur du groupe -->
        {{ form.artist.label }} {{ form.artist(class_="form-control") }}
        </div>
        {% if form.name.errors %}

        <!-- Affichage des erreurs -->
        <ul class="list-group">
            {% for e in form.name.errors %}
            <li class="list-group-item list-group-item-danger">{{ e }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        <!-- Bouton de validation -->
        <input class="btn btn-default" type="submit" value="Enregistrer">
    </form>
{% endblock %}
