{% extends "base.html" %}
{% block main %}
<center><h1>{{ title }}</h1></center>
<BR CLEAR="all">

{% for g in group %}

<!-- Une carte representant un titre, une description rapide, un bouton modifier -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail" style="min-height:50px;height:250px;">
            <div class="caption">
                <div class="container">
                    <section class="row">
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            <h3>{{ g.bandName }}</h3> <!-- Le titre de la carte -->
                        </div>
                        <div class="col-xs-4 col-sm-3 col-md-2">
                            {% if current_user.is_authenticated %}
                            <!-- Si le groupe recuperer est en favorie -->
                            {% if g in fav %}
                            <!--Suppression des favories -->
                            <a href="{{ url_for('retirerFav', id = g.id) }}"><img src="{{ url_for('static', filename='img/favorie.jpeg') }}"
                                    height="20" width="20"></a>
                            {% else %}
                            <!--Ajout des favories -->
                            <a href="{{ url_for('ajoutFav', id = g.id) }}"><img src="{{ url_for('static', filename='img/favorieNoire.png') }}"
                                    height="20" width="20"></a>
                            {% endif %}
                            {% endif %}
                        </div>
                    </section>
                </div>

                <p>L'artiste fondateur du groupe est : {{ g.artist.name }}</p> <!-- La description rapide -->
                <p>
                    <!--
                        SI connecter :
                            Les boutons modifier ou supprimer sont présent
                        SINON :
                            Rien
                    -->
                    {% if current_user.is_authenticated %}
                    <center>
                        <div class="row">
                            <!-- Le bouton modifier -->
                            <a href="{{ url_for('modifierGroupe', id = g.id) }}" class="btn btn-primary" role="button">Modifier</a>

                            <!-- Le bouton supprimer -->
                            <a href="{{ url_for('deletegroup', id = g.id) }}" class="btn btn-danger" role="button">Supprimer</a>
                        </div>
                    </center>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

{% endfor %}

{% endblock %}
