{% extends "base.html" %}
{% block main %}
<center><h1> Ajout musique</h1></center>
<BR CLEAR="all">	
	<!-- 
        Formulaire fonctionnant avec la methode POST et dont le traitement est faites par la fonction
        save_music du fichier views.py
        Permet d'ajouter d'une musique
    -->
     <form method="POST" action="{{ url_for('save_music') }}" enctype="multipart/form-data">
		 {{ form.hidden_tag() }}
		 <!-- Champ de texte du titre de la musique -->
		 {{ form.title.label }} {{ form.title(size=100,class_="form-control")}}
		 <!-- Champ de l'année du nom du groupe -->
		 {{ form.year.label }} {{ form.year(size=4,class_="form-control")}}
		 <!-- Menu deroulant permettant de selectionner le groupe -->
		 {{ form.band.label }} {{form.band(class_="form-control")}}
		 <!-- Bouton permettant l'insection d'une image-->
		 {{ form.fileName.label }} {{ form.fileName}}
		 <!-- Checkbox permettant de selectionner des genres-->
		 {{ form.genre.label }}
		 <BR CLEAR="all">
		 {% for subfield in form.genre %}
			<tr>
				<td>{{ subfield }}</td>
				<td>{{ subfield.label }}</td>
			</tr>
		{% endfor %}
		<!-- Bouton de validation -->
		 <div>{{ form.submit(class_="btn btn-primary") }}</div>
     </form>
{% endblock %}
