{% extends "base.html" %}
{% block main %}    
    <center><h1>La liste des musiques</h1></center>
    <BR CLEAR="all">	
    <!--
		SI connecter :
			Afficher la barre de recherche
			Afficher les options de trie
	-->
    {% if current_user.is_authenticated %}

	<div class="row">
	<div class="container">
		<div class="col-md-4">
       <!-- 
			  Formulaire fonctionnant avec la methode POST et dont le traitement est faites par la fonction
              affiche_music du fichier views.py
              Permet de trie selon des options les musiques
		     -->
			<form method="POST" action="{{ url_for('affiche_music') }}">
		      {{ form.hidden_tag() }}
		      {{ form.choix(class_="btn btn-primary")}}
		      {{ form.submit(class_="btn btn-primary") }}
             </form>
		</div>
		<div class="col-md-4 col-md-offset-4">
				<!-- 
               Formulaire fonctionnant avec la methode POST et dont le traitement est faites par la fonction
               affiche_music du fichier views.py
               Permet de rechercher une musique selon son titre
		      -->
            <form method="POST" action="{{ url_for('affiche_music') }}">
		      {{ form1.hidden_tag() }}
		      {{ form1.choixR(class_="btn btn-primary")}}
		     {{ form1.submit(class_="btn btn-primary") }}
           </form>	
    </div>
  </div>
</div>

<BR CLEAR="all">	
     	     
    {% endif %}

    {% for m in musique %}
    <!-- Une carte representant 
		un titre, le groupe, 
		l'année, l'étoile favorie,
		les boutons modifier et supprimer -->
    <div class="col">
        <div class="col-sm-7 col-md-4">
            <div class="thumbnail" style="min-height:50px;height:300px;">
                <div class="caption">
					<div class="container">
				    <section class="row">
                      <div class="col-xs-4 col-sm-3 col-md-2"> <a href="{{ url_for('show_music', id = m.id) }}"><h3>{{ m.title }}</h3> </a></div>
                      <div class="col-xs-4 col-sm-3 col-md-2">
						    <!--
							SI connecter :
								Affiche l'étoile favorie jaune ou noir
							-->
                        {% if current_user.is_authenticated %}
							<!--
							SI la musique fait parti de se favorie :
								Affiche l'étoile favorie jaune 
							ELSE:
								Affiche l'étoile favorie noir 
							-->
					      {% if m in fav %}
						    <!--Suppression des favories -->
                            <a href="{{ url_for('deleteFavMusic', id = m.id) }}"><img src="{{ url_for('static', filename='img/favorie.jpeg') }}" height="20" width="20"></a>
                           {% else %}
					       <!--Ajout des favories -->
                           <a href="{{ url_for('ajoutFavMusic', id = m.id) }}"><img src="{{ url_for('static', filename='img/favorieNoire.png') }}" height="20" width="20"></a>
                           {% endif %}
                         {% endif %}
					  </div>
                   </section>
				</div>
				{% if m.year!=0 %}
                <p>Année : {{ m.year }}</p> <!-- L'année -->
                {% endif %}
                <p>Le Groupe : {{ m.band.bandName }}</p> <!-- Le groupe -->
                <p>
					 <!--
                        SI connecter :
                             Affiche les boutons modifier ou supprimer sont présent
                    -->
                    {% if current_user.is_authenticated %}
                    <center>
                        <div class="row">
                            <!-- Le bouton modifier -->
                            <a href="{{ url_for('edit_music', id = m.id) }}" class="btn btn-primary" role="button">Modifier</a> 
							<!-- Le bouton supprimer -->
							<a href="{{ url_for('delete_music', id = m.id) }}" class="btn btn-danger" role="button">Supprimer</a> 
                        </div>
                    </center>
                    {% endif %}
                </p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
