{% extends "base.html" %}
{% block main %}
<center><h1> Changer l'image de {{musique.title}} </h1></center>
<BR CLEAR="all">
	<!-- 
		Formulaire fonctionnant avec la methode POST et dont le traitement est faites par la fonction
        edit_changer_image du fichier views.py
        Permet de modifier l'image d'une musique
	-->
     <form method="POST" action="{{ url_for('edit_changer_image') }}" enctype="multipart/form-data">
		 {{ form.hidden_tag() }}
		 <!-- Bouton permettant l'insection d'une image-->
		 {{ form.fileName}}
		 <!-- Bouton de validation -->
		{{ form.submit(class_="btn btn-primary") }}
     </form>
{% endblock %}
