{% extends "base.html" %}
{% block main %}
<center><h1>Modifier musique</h1></center>
<BR CLEAR="all">
	<!-- 
        Formulaire fonctionnant avec la methode POST et dont le traitement est faites par la fonction
        edit_save_music du fichier views.py
        Permet de modifier d'une musique
    -->
     <form method="POST" action="{{ url_for('edit_save_music') }}" >
		 {{ form.hidden_tag() }}
		 <!-- Champ de texte du titre de la musique -->
		 <div>{{ form.title.label }} {{ form.title(size=100,class_="form-control")}}</div>
		 <!-- Champ de l'année du nom du groupe -->
		 <div>{{ form.year.label }} {{ form.year(size=4,class_="form-control")}}</div>
		 <!-- Menu deroulant permettant de selectionner le groupe -->
		 <div>{{ form.band.label }} {{form.band(class_="form-control")}}</div>
		 <div>
			 <!--
				SI l'image existe :
					Affiche l'image
			-->
			 {% if  testImage=="v" %}
			 <img 
				src="{{ url_for('static', filename='img/'+musique.img) }}" 
				title="{{ musique.title + " de " + musique.band.bandName }}"
				alt="{{ "couverture de " + musique.title }}" 
				height="200" width="200"
				/>
			{% endif %}
			<!-- Bouton permettant l'insection d'une image-->
			 <a href="{{ url_for('changer_image', id = musique.id) }}" class="btn btn-primary" role="button">{{musique.img}}</a> 
		 </div>
		 <!-- Checkbox permettant de selectionner des genres-->
		 {{ form.genre.label }}
		 <BR CLEAR="all">
		 {% for subfield in form.genre %}
			<tr>
				<td>{{ subfield }}</td>
				<td>{{ subfield.label }}</td>
			</tr>
		{% endfor %}
		<!-- Bouton de validation -->
		<div>{{ form.submit(class_="btn btn-primary") }}</div>
     </form>
{% endblock %}
