{% extends "base.html" %}
{% block main %}
<!-- Afficher la musique-->
<center><h1>{{musique.title}}</h1></center>
<BR CLEAR="all">
	<!--
		SI l'image existe :
			Affiche l'image
	-->
	{% if  testImage=="v" %}
		<img 
			src="{{ url_for('static', filename='img/'+musique.img) }}" 
			title="{{ musique.title + " de " + musique.band.bandName }}"
			alt="{{ "couverture de " + musique.title }}" 
			height="150" width="150"
			/>
	{% endif %}
	{% if musique.year!=0 %}
	<p>Année : {{ musique.year }}</p>
	{% endif %}
	<p>Le Groupe : {{ musique.band.bandName }}</p>
	{% if  musique.genres!=[] %}
	<h3>Les Genres</h3>
	<ul>
		{% for g in  musique.genres %}
			<li>{{g.genreName}}</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}
