{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
{{ super () }}
<link rel=" stylesheet " href="{{ url_for ('static', filename ='global.css') }}" />

{% endblock %}
{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RockProject </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse ">
      <ul class="nav navbar-nav">
        <li {{ home_active }}><a href="/">Acceuil </a></li>

        <!--
            SI connecter :
              un menu deroulant proposant la liste des groupe ou de rajouter un groupe
            SINON :
              un lien vers la liste des groupes
          -->
          {% if current_user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Groupe <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('group') }}">Liste</a></li>
              <li><a class="dropdown-item" href="{{ url_for('ajouterGroupe') }}">Ajout</a></li>
              
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Music <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ url_for('affiche_music') }}">Liste</a></li>
              <li><a class="dropdown-item" href="{{ url_for('add_music') }}">Ajout</a></li>
              
            </ul>
          </li>
           <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Artiste
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{{ url_for('artist') }}">Liste</a></li>
          <li><a class="dropdown-item" href="{{ url_for('ajouterArtiste') }}">Ajout</a></li>
        </ul>
      </li>
          {% else %}
          <li {{ group_active }} ><a href="{{ url_for('group') }}">Groupe </a></li>
          <li {{ music_active }} ><a href="{{ url_for('affiche_music') }}">Music </a></li>
          <li {{ artist_active }}><a href="{{ url_for('artist') }}">Artiste </a></li>
          {% endif %}
        </ul >

      
      </ul>
      </li>
      </ul>

      <!--
            SI connecter :
              un lien vers la page de connexion
            SINON :
              un lien vers la page de deconnexion
      -->
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
        <li><a>{{ current_user.username }}</a></li>
        <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" title="logout"></span></a></li>
        {% else %}
        <li><a href="/login"><span class="glyphicon glyphicon-log-in" title="login"></span></a></li>
        {% endif %}
      </ul>
      </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}
{% block content %}
<div id="main" class="container theme-showcase" role="main">
  {% block main %}{% endblock %}
</div>
{% endblock %}
