{% extends "base.html" %}
{% block main %}
   

    <!--
		SI connecter :
			Afficher la barre de recherche
			Afficher les options de trie
	-->
   {% if current_user.is_authenticated %}
   <center> <h1>{{ title }}{{user.username }} !</h1></center>
  <BR CLEAR="all">
   <h2>Tes musiques préférées</h2>
    {% for m in musique %}
    <!-- Une carte representant 
		un titre, le groupe, 
        l'année
    -->
	
    <div class="col">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="min-height:50px;height:200px;">
                <div class="caption">
				<a href="{{ url_for('show_music', id = m.id) }}"><h3>{{ m.title }}</h3> </a> 
                {% if m.year!=0 %}
                <p>Année : {{ m.year }}</p> <!-- L'année -->
                {% endif %}
                <p>Le Groupe : {{ m.band.bandName }}</p> <!-- Le groupe -->
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <BR CLEAR="all">
    <h2>Tes groupes préférés</h2>
    {% for g in groupes %}
    <!-- Une carte representant 
        un nom, l'artiste
     -->
	
    <div class="col">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="min-height:50px;height:150px;">
                <div class="caption">
				<h3>{{ g.bandName }}</h3>
                <p>Artiste : {{ g.artist.name }}</p> <!-- L'artiste -->
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
	{% else %}
	 <center><h1>Bienvenu</h1></center>
    {% endif %}
    <BR CLEAR="all">
    <h2 >TOP {{nbP}} des musiques</h2>
    {% for p in preferer %}
    <!-- Une carte representant 
		un titre, le groupe, 
		l'année, l'étoile favorie,
		les boutons modifier et supprimer -->
	
    <div class="col">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="min-height:50px;height:200px;">
                <div class="caption">
				<a href="{{ url_for('show_music', id = p.id) }}"><h3>{{ p.title }}</h3> </a> 
                {% if p.year!=0 %}
                <p>Année : {{ p.year }}</p> <!-- L'année -->
                {% endif %}
                <p>Le Groupe : {{ p.band.bandName }}</p> <!-- Le groupe -->
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
{% endblock %}
