{% extends "base.html" %}
{% block main %}
   <center><h1>{{ title }}</h1></center>
   <BR CLEAR="all">


    <!--
        Formulaire fonctionnant avec la methode POST et dont le traitement est effectuer par la fonction
        ajout_Artiste du fichier views.py
    -->
    <form method="POST" action="{{ url_for('ajout_Artiste') }}">
            {{ form.hidden_tag() }}
            <div class=
                {% if form.name.errors %}
                "form-group has-error"
                {% else %}
                "form-group"
                {% endif %}
            >
            <!-- Champ de texte du nom d'un artiste -->
            {{ form.name.label }} {{ form.name(size=20, class_="form-control") }}

            </div>

            <!-- Affichage des erreurs -->
            {% if form.name.errors %}
            <ul class="list-group">
                {% for e in form.name.errors %}
                <li class="list-group-item list-group-item-danger">{{ e }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            <!-- Bouton de validation -->
            <input class="btn btn-primary" type="submit" value="Enregistrer">
        </form>
{% endblock %}
