{% extends "base.html" %}
{% block main %}
    <center><h1>{{ title }}</h1></center>
     <BR CLEAR="all">
    <h3>Voulez vous supprimer {{ artist.name }} ?</h3>

    <!--
        Formulaire fonctionnant avec la methode POST et dont le traitement est faites par la fonction
        save_deleteartiste du fichier views.py
    -->
    <form method="POST" action="{{ url_for('save_deleteartiste') }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <input class="btn btn-danger" type="submit" value="Oui !"> <!-- Validation de suppression d'un artiste -->
            <a href="/artist">
                <input class="btn btn-primary" type="button" value="Non !"> <!-- Refu de suppression d'un artiste -->
            </a>
        </div>

    </form>


{% endblock %}
