{% extends "base.html" %}
{% block main %}
    <center><h1>{{ title }}</h1></center>
	<BR CLEAR="all">
    {% for a in artists %}

    <!-- Une carte representant un titre, une description rapide, un bouton modifier -->
    <div class="col">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail" style="min-height:50px;height:150px;" >
                <div class="caption">
                <h3>{{ a.name }}</h3> <!-- Le titre de la carte -->
                <p>
                    <!--
                        SI connecter :
                            Les boutons modifier ou supprimer sont présent
                        SINON :
                            Rien
                    -->
                    {% if current_user.is_authenticated %}
                    <center>
                        <div class="row">
                            <!-- Le bouton de  modification -->
                            <a href="{{ url_for('modifierArtiste', id = a.id) }}" class="btn btn-primary" role="button">Modifier</a>

                            <!-- Le bouton de suppression -->
                            <a href="{{ url_for('deleteartiste', id = a.id) }}" class="btn btn-danger" role="button">Supprimer</a>
                        </div>
                    </center>
                    {% endif %}
            </div>
          </div>
        </div>
      </div>

    {% endfor %}

{% endblock %}
