h1
{
    color: red;
    text-align: center;
}


img
{
    margin-top: 10px;
    margin-bottom: 10px; 
}

body
{
    font-family: sans-serif;
}

#main
{
    margin-top: 5em; 
}

a
{
    margin: 5px;
}
